# Discussion

<div class="discussion-content">

Summary: there's a lot of stuff out there, but most of it is pretty scattered. This project consolidates them and visualizes the relationships between different concepts surrounding bamboo residential construction.

- very cool that many of the vernacular features in different cultures mirror each other -> similar solutions to similar problems
- builders and modern engineering are drawing inspiration from vernacular/organic forms [31]

## Observations

Lorem markdownum traxit, fistula est at caelestes alium, demisso vectus in undique foret, in qui iam. Habenti saepe.

Aper deae verum insilit Orci; est sensit tu forte. Remotis iram sidereum contenta patetis. Gaudeat nymphas convicia numina: quoque conprendere exitus, clauso. Paterque mortalia umbrae mos pedes anno cum mirabile quaecumque corpus virtus norint. Erat sed fratres carinae, est vulgata pulsant poterat nutrix.

## Criticism

Preces **fieri auribus** tollite praeterit iamque: [et robur](http://fraude.net/igne.html) fratribus manum laborum. Petitos pectus: non vinci silet _fata_, summa [illis](http://www.dum.net/), non Sole.

Quod spinea inquit, rex clamorque ante. Fruges victus inter, esse minus Nesseo per caede ossa habitanda flammis satis. Vulneris pater herbis, confudit malis. Atlantiades nitenti vires videri citis auctor imago nimiumque montibus cantusque.

## Innovation and future development

Tiliae **hortos** arcadiae ignibus est Echione, quisquis iussis genitor et nomen. Legumque per Arcas magnum orat post hostiliter velata, venit unius tamen [pariter](http://nec-precanti.org/), mane canam carinae.

- Sub necem morantur paulum sed longe
- Utque maneat haec quatenus intervenit Tmolus vatibus
- Lateri morbi moneri huius
- Succendit terris

## Resources

If you are curious about how I made this visualization, check out the blog post that I wrote about my progress (coming soon)! I'll cover everything from the research and literature review to how I used SvelteKit and D3.

Aside from the countless well-researched and informative articles cited throughout the visualization, Amelia Wattenberger's [Intro to D3](https://wattenberger.com/blog/d3) also played a key role in bringing this project to life. Not only did this resource provide a delightful overview of D3.js, but it also sparked the idea to use a circle pack for visualizing a categorical overview of bamboo construction

Finally, this project would not be possible without **Dr. Bhavna Sharma**, who leads the [Innovative Materials research group](https://sites.usc.edu/innomat/) at USC. She inspired me to pursue this project and guided me along the way. Dr. Sharma is exceptionally well-versed on all things bamboo, especially in the built environment. She has contributed to countless academic papers that serve as foundational pillars of research in the field (many of which you can find in this overview). Thank you so much!

## References

**[1]** S. Ravishankar and S. Ji, "Exploring Two Housing Typologies in the Vernacular Architecture of Assam," _ICoRD 2021: Design for Tomorrow_, vol. 1, pp. 949-959, 2021, _Smart Innovation, Systems and Technologies_, vol. 221, [https://doi.org/10.1007/978-981-16-0041-8_78](https://doi.org/10.1007/978-981-16-0041-8_78).

**[2]** S. Kaminski, "Engineered bamboo houses for low-income communities in Latin America," _The Structural Engineer_, vol. 91, no. 10, pp. 14-23, Oct 2013, [https://www.istructe.org/journal/volumes/volume-91-(2013)/issue-10/engineered-bamboo-houses-for-low-income-communitie/](<https://www.istructe.org/journal/volumes/volume-91-(2013)/issue-10/engineered-bamboo-houses-for-low-income-communitie/>).

**[3]** S. Kaminski, A. Lawrence, and D. Trujillo, "Design Guide for Engineered Bahareque Housing," _International Network for Bamboo and Rattan Technical Reports_, no. 38, 2016, [https://www.inbar.int/wp-content/uploads/2020/05/1491901273.pdf](https://www.inbar.int/wp-content/uploads/2020/05/1491901273.pdf).

**[4]** _Bamboo structures — Bamboo culms — Structural design_, ISO 22156:2021, Jun. 2021.

**[5]** BASE Bahay Foundation, "About BASE," base-builds.com, [http://www.base-builds.com/our-houses/](http://www.base-builds.com/our-houses/).

**[6]** B. Sharma, A. Gatoo, M. Bock, H. Mulligan, and M. Ramage, "Engineered bamboo: state of the art," _Construction Materials_, vol. 168, no. 2, pp. 57-67, Apr. 2015. [https://doi.org/10.1680/coma.14.00020](https://doi.org/10.1680/coma.14.00020).

**[7]** H&P Architects, "Blooming Bamboo Home," hpa.vn, [https://hpa.vn/en/project/to-am-no-hoa/](https://hpa.vn/en/project/to-am-no-hoa/).

**[8]** CRU! Architects, "Bamboostic project (image 14)," cru-architecten.be, [https://www.cru-architecten.be/#bamboostic-project/14](https://www.cru-architecten.be/#bamboostic-project/14).

**[9]** CRU! Architects, "Bamboostic project (image 9)," cru-architecten.be, [https://www.cru-architecten.be/#bamboostic-project/9](https://www.cru-architecten.be/#bamboostic-project/9).

**[10]** Ibuku, "Design Process," ibuku.com, [https://ibuku.com/about/design-process/](https://ibuku.com/about/design-process/).

**[11]** Ibuku, "Sharma Springs Residence," ibuku.com, [https://ibuku.com/sharma-springs-residence/](https://ibuku.com/sharma-springs-residence/).

**[12]** Ibuku, "Pemulung Housing Project," ibuku.com, [https://ibuku.com/pemulung-housing/](https://ibuku.com/pemulung-housing/).

**[13]** Ibuku, "Mepantigan Auditorium at Green School," ibuku.com, [https://ibuku.com/mepantigan-auditorium/](https://ibuku.com/mepantigan-auditorium/).

**[14]** R. Lorenzo and L. Mimendi, "Digitisation of bamboo culms for structural applications," _Journal of Building Engineering_, vol. 29, May 2020, [https://doi.org/10.1016/j.jobe.2020.101193](https://doi.org/10.1016/j.jobe.2020.101193).

**[15]** Y. Akinbade, I. Nettleship, C. Papadopoulos, and K. A. Harries, "Modelling full-culm bamboo as a naturally varying functionally graded material," _Wood Science and Technology_, vol. 55, pp. 155-179, Jan. 2021, [https://doi.org/10.1007/s00226-020-01246-6](https://doi.org/10.1007/s00226-020-01246-6).

**[16]** International Organization for Standardization, "STANDARDS," iso.org, [https://www.iso.org/standards.html](https://www.iso.org/standards.html).

**[17]** _Bamboo structures — Determination of physical and mechanical properties of bamboo culms — Test methods_, ISO 22157:2019, Jan. 2019.

**[18]** J. Janssen, "Designing and Building with Bamboo," _International Network for Bamboo and Rattan_, no. 20, pp. 90-116, 2000, Available: [https://www.inbar.int/wp-content/uploads/2020/05/1489455979.pdf](https://www.inbar.int/wp-content/uploads/2020/05/1489455979.pdf).

**[19]** A. Widyowijatnoko and K. Harries, "20 - Joints in bamboo construction," _Nonconventional and Vernacular Construction Materials (Second Edition)_, pp. 561-596, Jan. 2020, [https://doi.org/10.1016/B978-0-08-102704-2.00020-2](https://doi.org/10.1016/B978-0-08-102704-2.00020-2).

**[20]** A. Seizas, L. E. Moreira, P. Stoffel, J. Bina, J. L. M. Ripper, J. L. Ferreira, and K. Ghavami, "Analysis of a self-supporting bamboo structure with flexible joints," _International Journal of Space Structures_, vol. 36, no. 2, pp. 137-151, Mar. 2021, [https://doi.org/10.1177/09560599211001660](https://doi.org/10.1177/09560599211001660).

**[21]** K. De Flander and R. Rovers, "One laminated bamboo-frame house per hectare per year," _Construction and Building Materials_, vol. 23, no. 1, pp. 210-218, 2009, [https://doi.org/10.1016/j.conbuildmat.2008.01.004](https://doi.org/10.1016/j.conbuildmat.2008.01.004).

**[22]** A. Emamverdiam, Y. Ding, F. Ranaei, and Z. Ahmad, "Application of Bamboo Plants in Nine Aspects," _TheScientificWorldJournal_, vol. 2020, no. 7284203, Sep. 2020, [https://doi.org/10.1155/2020/7284203](https://doi.org/10.1155/2020/7284203).

**[23]** S. Kaminski, A. Lawrence, and D. Trujillo, "Structural use of bamboo. Part 2: Durability and preservation," _The Structural Engineer_, vol. 94, no. 10, pp. 38-43, 2016, [https://www.istructe.org/journal/volumes/volume-94-(2016)/issue-10/structural-use-of-bamboo-part-2-durability-and-pr](<https://www.istructe.org/journal/volumes/volume-94-(2016)/issue-10/structural-use-of-bamboo-part-2-durability-and-pr>)

**[24]** D. Aspari and O. Dewi, "Bamboo as a structural element of architectural buildings in tropical climates," _IOP Conf. Ser.: Earth Environ. Sci._, vol. 673, Jan. 2021, [https://doi.org/10.1088/1755-1315/673/1/012021](https://doi.org/10.1088/1755-1315/673/1/012021).

**[25]** A. Widyowijatnoko and M. Trautz, "Tension bamboo joints for spatial structure," _IABSE-IASS 2011 Symposium, London._, 2011.

**[26]** A. Villalon, "The Philippines: The Filipino bahay kubo, where form does not necessarily follow function," _Monuments and Sites_, vol. 5, 2002, [https://doi.org/10.11588/monstites.2002.0.22647](https://doi.org/10.11588/monstites.2002.0.22647).

**[27]** Cubo Modular Inc., "Models," cubo.ph, [https://cubo.ph/pages/models](https://cubo.ph/pages/models).

**[28]** R. Gavieta, "Mass housing based on traditional design and indigenous materials for passive cooling in the tropical urban climate of the Philippines," _Energy and Buildings_, vol. 16, no. 3-4, pp. 925-932, 1991, [https://doi.org/10.1016/0378-7788(91)90087-J](<https://doi.org/10.1016/0378-7788(91)90087-J>).

**[29]** F. Koko, "Exploring the different vernacular architecture in Nigeria," _International Journal of African Society, Cultures and Traditions_, vol. 7, no. 1, pp. 1-12, Feb. 2019, [https://www.eajournals.org/journals/international-journal-of-african-society-cultures-and-traditions-ijasct/vol-7-issue-1-february-2019/exploring-the-different-vernacular-architecture-in-nigeria/](https://www.eajournals.org/journals/international-journal-of-african-society-cultures-and-traditions-ijasct/vol-7-issue-1-february-2019/exploring-the-different-vernacular-architecture-in-nigeria/).

**[30]** N. Idham, "Javanese vernacular architecture and environmental synchronization based on the regional diversity of _Joglo_ and _Limasan_," _Frontiers of Architectural Research_, vol. 7, no. 3, pp. 317-333, Sep. 2018, [https://doi.org/10.1016/j.foar.2018.06.006](https://doi.org/10.1016/j.foar.2018.06.006).

**[31]** M. Rashid and D. R. Ara, "Modernity in tradition: Reflections on building design and technology in the Asian vernacular", _Frontiers of Architectural Research_, vol. 4, no. 1, pp. 46-55, Mar. 2015, [https://doi.org/10.1016/j.foar.2014.11.001](https://doi.org/10.1016/j.foar.2014.11.001).

**[32]** T. Pelmoine and A. Mayor, "Vernacular architecture in eastern Senegal: _Chaînes opératoires_ and technical choices," _Journal of Material Culture_, vol. 25, no. 3, pp. 348-378, Apr. 2020, [https://doi.org/10.1177/1359183520907929](https://doi.org/10.1177/1359183520907929).

</div>

<style lang="scss">
    .discussion-content {
        background-color: var(--primary-highlighter);
		overflow-y: scroll;
		overflow-wrap: anywhere;
		height: calc(90vh - 15rem);
		padding: 1rem 2rem;
		border-radius: 5px;

		&::-webkit-scrollbar {
			width: 7px;
			background-color: none;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: var(--primary-subtle);
			height: 50%;
		}
    }
</style>
