/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&display=swap');
:root {
	/* defaults */
	font-family: 'Barlow', Helvetica, sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
	line-height: 1.5;
	transition: 0.5s ease;

	/* greys palette */
	--lightest: #f6f6f6;
	--lighter: #dadada;
	--light: #b4b4b4;
	--mid: #959595;
	--dark: #737373;
	--darker: #454545;
	--darkest: #161616;
	--light-highlight: rgba(246, 246, 246, 0.75);

	/* default colors */
	--text-color: var(--darker);
	--bg-color: var(--lightest);
	--primary-light: #ccdd9f;
	--primary: #c0d587;
	--primary-dark: #a9c168;
	--primary-highlight: rgba(224, 236, 190, 0.5);
	--primary-highlighter: rgba(224, 236, 190, 0.25);
	--primary-subtle: rgba(224, 236, 190, 0.75);

	--active: #ba9d85;
	--active-light: #e7d3c3;
	--active-highlight: rgba(215, 203, 195, 0.3);
}

body {
	overflow: hidden;
}

body * {
	overflow: hidden;
}

@media only screen and (max-width: 52rem) {
	body {
		overflow-y: scroll;
		margin: 0;
	}
}

h1 {
	color: var(--primary);
	font-size: 3rem;
	line-height: 3.5rem;
}
h2 {
	font-weight: 600;
	color: var(--mid);
}

.label {
	color: var(--mid);
	letter-spacing: 6px;
	font-size: 0.9rem;
}

a {
	color: var(--primary-dark);
}

img {
	object-fit: contain;
	width: 100%;
}

/* used exclusively for image caption styling */
h4 {
	margin: 1rem 0;
	font-size: 0.9rem;
	font-weight: 400;
	font-style: italic;
	color: var(--light);
	text-align: center;
}

blockquote {
	border-left: 7px solid var(--primary-subtle);
	padding-left: 1rem;
	margin: 1rem;
}
